<div class="col-md-12">

	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Données récupérées</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body ">
			<div class="row">

				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="text-center">
								LM 970</h4>
							</div>
							<div class="panel-body text-center">
								<p class="lead">
									<strong>Frontofocomètre</strong>
								</p>
							</div>
							<div class="table-responsive">
								<table class="table" id="lm">
									<tr class="text-right">
										<th>Donnée</th>
										<th>Droit</th>
										<th>Gauche</th>
									</tr>
									<tr>
										<td>
											<a class="text-green" href="#">SPH</a>
										</td>
										<td>
											<a class="text-green" href="#">-1.00</a>
										</td>
										<td>
											<a class="text-green" href="#">-0.50</a>
										</td>
									</tr>
									<tr>
										<td>
											<a class="text-green" href="#">CYL</a>
										</td>
										<td>
											<a class="text-green" href="#">-0.25</a>
										</td>
										<td>
											<a class="text-green" href="#">-0.50</a>
										</td>
									</tr>
									<tr>
										<td>
											<a class="text-green" href="#">A</a>
										</td>
										<td>
											<a class="text-green" href="#">180</a>
										</td>
										<td>
											<a class="text-green" href="#">180</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="panel-footer">
								<a class="btn btn-lg btn-block btn-info" href="#" ngclipboard-success="onSuccess(e);" ngclipboard data-clipboard-target="#lm">Copier les données</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="text-center">
									ARK 730</h4>
								</div>
								<div class="panel-body text-center">
									<p class="lead">
										<strong>Kératomètre</strong>
									</p>
								</div>
								<div class="table-responsive">
									<table class="table" id="ark">
										<tr class="text-right">
											<th>Donnée</th>
											<th>Droit</th>
											<th>Gauche</th>
										</tr>
										<tr>
											<td>
												<a class="text-green" href="#">SPH</a>
											</td>
											<td>
												<a class="text-green" href="#">0.50</a>
											</td>
											<td>
												<a class="text-green" href="#">0.75</a>
											</td>
										</tr>
										<tr>
											<td>
												<a class="text-green" href="#">CYL</a>
											</td>
											<td>
												<a class="text-green" href="#">-1.25</a>
											</td>
											<td>
												<a class="text-green" href="#">-2.00</a>
											</td>
										</tr>
										<tr>
											<td>
												<a class="text-green" href="#">A</a>
											</td>
											<td>
												<a class="text-green" href="#">180</a>
											</td>
											<td>
												<a class="text-green" href="#">180</a>
											</td>
										</tr>
									</table>
								</div>
								<div class="panel-footer">
									<a class="btn btn-lg btn-block btn-info" href="#" ngclipboard-success="onSuccess(e);" ngclipboard data-clipboard-target="#ark">Copier les données</a>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h4 class="text-center">
										RT 2100</h4>
									</div>
									<div class="panel-body text-center">
										<p class="lead">
											<strong>Réfractomètre</strong>
										</p>
									</div>
									<div class="table-responsive">
										<table class="table" id="rt">
											<tr class="text-right">
												<th>Donnée</th>
												<th>Droit</th>
												<th>Gauche</th>
											</tr>
											<tr>
												<td>
													<a class="text-green" href="#">SPH</a>
												</td>
												<td>
													<a class="text-green" href="#">-2.00</a>
												</td>
												<td>
													<a class="text-green" href="#">-1.75</a>
												</td>
											</tr>
											<tr>
												<td>
													<a class="text-green" href="#">CYL</a>
												</td>
												<td>
													<a class="text-green" href="#">-1.25</a>
												</td>
												<td>
													<a class="text-green" href="#">-1.50</a>
												</td>
											</tr>
											<tr>
												<td>
													<a class="text-green" href="#">A</a>
												</td>
												<td>
													<a class="text-green" href="#">135</a>
												</td>
												<td>
													<a class="text-green" href="#">140</a>
												</td>
											</tr>
										</table>
									</div>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-info" href="#" ngclipboard-success="onSuccess(e);" ngclipboard data-clipboard-target="#rt">Copier les données</a>
									</div>
								</div>
							</div>

						</div>

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->




			</div>
		</div>